#<IfModule mod_rewrite.c>
    #RewriteEngine On
    #RewriteBase /
    #RewriteRule ^.*$ /index.html [L]
   # RewriteRule ^login$ /login.html [L] 
  #  RewriteRule ^chat$ /chat.html [L] 
 #   RewriteRule ^profile$ /profile.html [L]
#</IfModule>


ErrorDocument 404 /404-error.html