:root {
    --red-crayola: #ed254eff;
    --naples-yellow: #f9dc5cff;
    --mint-cream: #f4fffdff;
    --oxford-blue: #011936ff;
    --black-coral: hsl(212, 17%, 33%);
    --sfondo: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,49,1) 100%);
    --font: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background: var(--sfondo);
    overflow-x: hidden;
}

h4.small-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--mint-cream);
    font-size: 2vw;
}

div.small-title {
    /* border: 3px solid green;  */
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    bottom: 15px;
}

.chat-container {
    width: 600px;
    height: 400px;
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
  }
  
  .sidebar-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .contact:hover {
    background-color: #f1f1f1;
  }
  
  .contact.active {
    background-color: #ddd;
  }
  
  .contact-name {
    font-family: var(--font);
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .contact-status {
    font-size: 14px;
    color: #aaa;
  }
  
  .main-content {
    flex: 1;
    margin-left: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
  }
  
  .chat-container {
    width: 95%;
    height: 400px;
    background-color: #01193600;
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    box-shadow:hsl(212, 17%, 33%) 0px 0px 10px 0px;
  }
  
  .sidebar {
    width: 200px;
    background-color: #fff;
    color: #011936;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .sidebar-header {
    font-size: 20px;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact {
    padding: 10px;
    border-bottom: 1px solid #011936;
    cursor: pointer;
  }
  
  .contact:hover {
    background-color: #011936;
    color: #fff;
  }
  
  .contact.active {
    background-color: #011936;
    color: #fff;
  }
  
  .contact-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .contact-status {
    font-size: 14px;
    color: #011936;
  }
  
  .main-content {
    flex: 1;
    margin-left: 10px;
    background-color: #ffffff99; 
    backdrop-filter: blur(10px);
    color: #011936;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
  }
  
  .chat-header {
    font-size: 20px;
    font-family: var(--font);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .chat-messages {
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  div.message-container.sent {
    text-align: right !important;
    overflow-wrap: break-word !important;
  }
  
  .message-container {
    margin-bottom: 10px;
  }
  
  .message-bubble {
    padding: 10px;
    border-radius: 10px;
  }
  
  .sent {
    font-family: var(--font);
    background-color: #011936;
    border-radius: 10px;
    width: 100%;
    color: #fff;
  }
  
  .received {
    align-self: flex-start;
    font-family: var(--font);
    background-color: #fff;
    color: #011936;
  }

  .image-send {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .image-receive {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .chat-input-container {
    display: flex;
    align-items: center;
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    background-color: #011936;
    color: #fff;
  }
  
  .chat-submit-button {
    padding: 10px;
    border-radius: 10px;
    background-color: #011936;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
  }

  button.add-contact-button {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background-color: #011936;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    bottom: 30px;
  }
  
  button.delete-contact-button {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background-color: #011936;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    bottom: 30px;
    left: 110px;
  }

  button.logout-button {
    padding: 10px;
    position: relative;
    width: 5vw;
    border-radius: 10px;
    background-color: #011936;
    color: #fff;
    border: none;
    cursor: pointer;
    top: 15px;
  }

  button.deleteMsg-button {
    padding: 10px;
    position: relative;
    width: 5vw;
    border-radius: 10px;
    background-color: #011936;
    color: #fff;
    border: none;
    cursor: pointer;
    top: 15px;
  }
  button.changeProfilePic-button {
    padding: 10px;
    position: relative;
    width: 5vw;
    border-radius: 10px;
    background-color: #011936;
    color: #fff;
    border: none;
    cursor: pointer;
    top: 15px;
  }

  
  .contact-name {
    display: flex;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.2em; 
    font-weight: bold; 
    margin: auto;
  }

  .contact-image {
    display: flex;
    vertical-align: middle;
    line-height: normal;
    border-radius: 50%;
  }

  div.image-sent {
    text-align: right;
  }

  

  