:root {
    --celestial-blue: #3e92ccff;
    --lapis-lazuli: #2a628fff;
    --prussian-blue: #13293dff;
    --prussian-blue-2: #16324fff;
    --indigo-dye: #18435aff;
    --indigo-dye-2: #1a445c85;
    --font: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* SCROLL BAR SETTINGS */

.chat-messages::-webkit-scrollbar {
  width: 16px;
}

.chat-messages::-webkit-scrollbar-track {
  background: var(--prussian-blue);
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: rgb(3, 63, 136);
  border-radius: 10px;
  border: 3px solid var(--prussian-blue);
}

.sidebar::-webkit-scrollbar {
  width: 16px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--indigo-dye-2);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(1, 25, 54);
  border-radius: 10px;
  border: 3px solid var(--indigo-dye-2);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: var(--indigo-dye-2);
}

::-webkit-scrollbar-thumb {
  background-color:  var(--celestial-blue);
  border-radius: 10px;
  border: 3px solid var(--indigo-dye-2);
}
/* SCROLL BAR SETTINGS */

body {
    background: var(--prussian-blue-2);
    overflow-x: hidden;
}


h4.small-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--celestial-blue);
    font-size: 2vw;
}

div.small-title {
    /* border: 3px solid green;  */
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    bottom: 15px;
}

.chat-container {
    width: 600px;
    height: 400px;
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
  }
  
  .sidebar-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-name {
    display: inline-flex;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.2em; 
    font-weight: bold; 
    margin: auto;
    font-family: var(--font);
    font-size: 18px;
    margin-bottom: 5px;
  }

  .contact-image {
    display: inline-flex;
    vertical-align: middle;
    line-height: normal;
    border-radius: 50%;
  }

  
  .contact-status {
    font-size: 14px;
    color: #aaa;
  }
  
  .main-content {
    flex: 1;
    margin-left: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    
  }
  
  .chat-container {
    width: 95%;
    height: 600px;
    background-color: #01193600;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    box-shadow: rgb(12, 25, 37) 0px 0px 10px 0px;
    overflow-x: hidden;
  }
  
  .sidebar {
    width: 200px;
    background-color: var(--indigo-dye-2);
    color: #011936;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .sidebar-header {
    font-size: 20px;
    font-family: var(--font);
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: var(--font);
    font-weight: bold;
    color: #fff;
  }
  
  
  
  .contact#active{
    background-color: var(--prussian-blue);
    color: #fff;
  }

  .contact {
    border-radius: 5px;
    border-bottom: 1px solid #011936;
    cursor: pointer;
  }
  
  .contact:hover {
    cursor: pointer;
    background-color: var(--prussian-blue-2);
    color: #fff;
  }

  
  .contact-status {
    font-size: 14px;
    color: #011936;
  }
  
  .main-content {
    flex: 1;
    margin-left: 10px;
    background-color: var(--indigo-dye);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  
  .chat-header {
    font-size: 20px;
    font-family: var(--font);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .chat-messages {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
  } 

  .message-container.sent{
    padding-left: 10;
  }

  .message-container.received {
    padding: 0;
  }

  .message-container{
    padding: 0;
    clear: both;
    max-width: 60%;
    min-width: 33%;
    word-wrap: break-word;
  }

  .received {
    float: left;
    clear: both;
    padding: 10px;
  }

  .sent {
    float: right !important;
    clear: both;
    padding: 10px;
  }

  .message-sender {
    display:  inline;
    position: relative;
    bottom: 20px;
    left: 15px;
    font-family: var(--font);
    font-weight: bold;
  }

 .message-receiver {
    display: inline;
    position: relative;
    bottom: 20px;
    left: 15px;
    font-family: var(--font);
    font-weight: bold;
  }

  .message-receiver-image {
    width: 50px;
    border-radius: 15px;
    display: inline;
  }

  .message-sender-image {
    bottom: 40px;
    display: inline;
    width: 50px;
    border-radius: 15px;
  }

 
  .chat-input-container {
    display: flex;
    align-items: center;
  }

  .message-text-received{
    font-family: var(--font);
    font-size: 18px;
    background-color: var(--lapis-lazuli);
    border-radius: 10px 10px 10px 0px;
    padding: 10px;
    margin: 0;
  }

  .message-text-sent{
    font-family: var(--font);
    font-size: 18px;
    background-color: var(--celestial-blue);
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    margin: 0;
  }

  .message-date-sent {
    float: right;
  }

  .message-date-received {
    float: left;
  }

  .message-date-received, .message-date-sent {
    font-family: var(--font);
    font-size: 13px;
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
  }
  
  .chat-submit-button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
  }

  .btnSectionChat {
    width: 100%;
    text-align: center;
  }

  button.add-contact-button {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    bottom: 30px;
  }
  
  button.delete-contact-button {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    bottom: 30px;
    left: 110px;
  }

  button.logout-button, button.deleteMsg-button, button.changeProfilePic-button, button.goToProfile-button {
    padding: 10px;
    position: relative;
    width: 5vw;
    border-radius: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
    border: none;
    cursor: pointer;
    top: 15px;
  }
  
  

  

  div.image-sent {
    text-align: right;
  }

  

  