:root {
    --celestial-blue: #3e92ccff;
    --lapis-lazuli: #2a628fff;
    --prussian-blue: #13293dff;
    --prussian-blue-2: #16324fff;
    --indigo-dye: #18435aff;
    --sfondo: linear-gradient(90deg, rgba(8,2,110,1) 0%, rgba(6,6,154,1) 100%);
    --sfondoContainer: rgb(255, 255, 255);
    --font: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background: var(--prussian-blue-2);
    overflow-x: hidden;
}

h4.small-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--celestial-blue);
    font-size: 2vw;
}

div.small-title {
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    bottom: 15px;
}

.containerProfile, .containerAppearence {
    padding-left: 20%;
}

.containerSmallProfile {
    display: flex;
    width: 60%;
    height: 450px;
    border: 10px solid var(--prussian-blue);
    background-color: var(--indigo-dye);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
  }

  .containerProfileImage {
    width: 200px;
    height: 200px;
  }


    img.profileImage {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    .containerName {
        width: auto;
    }

    h4.profileName {
        font-family: var(--font);
        color: white;
        font-size: 35px;
        text-align: center;
    }

    .textBoxBio {
        padding-left: 100px;
        width: 100%;
    }

    .containerBio {
        border: 5px solid var(--prussian-blue);
        border-radius: 20px;
        width: 95%;
        height: 200px;
        padding: 5px;
    }

    h4.bio {
        font-family: var(--font);
        color: white;
        font-size: 20px;
        justify-content: center;
        overflow-wrap: break-word;
    }

    h4.bio:focus {
        outline: none;
    }

    button.editBio, button.saveBio {
        padding: 10px;
        position: relative;
        width: 50px;
        border-radius: 10px;
        background-color: var(--prussian-blue);
        color: #fff;
        border: none;
        cursor: pointer;
        top: 15px;
    }

div.btnExit {
    position: fixed;
    top: 90%;
    left: 10px;
}

button.btnExit {
    bottom: 0px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
    border: none;
    cursor: pointer;
}

input.mail, input.pass {
    width: 60%;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: var(--font);
    background-color: var(--prussian-blue);
    color: #fff;
}

button.editMail, button.saveMail {
    padding: 10px;
    position: relative;
    width: 50px;
    border-radius: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
    border: none;
    cursor: pointer;
    left: 10px;
}

button.editPass, button.savePass {
    padding: 10px;
    position: relative;
    width: 50px;
    border-radius: 10px;
    background-color: var(--prussian-blue);
    color: #fff;
    border: none;
    cursor: pointer;
    left: 10px;
}

.lFont {
    position: relative;
    font-family: var(--font);
    font-weight: bold;
    font-size: 25px;
    top: 5px;
}

.containerSmallAppearence {
    display: flex;
    width: 60%;
    height: 450px;
    border: 10px solid var(--prussian-blue);
    background-color: var(--indigo-dye);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
}