:root {
    --celestial-blue: #3e92ccff;
    --lapis-lazuli: #2a628fff;
    --prussian-blue: #13293dff;
    --prussian-blue-2: #16324fff;
    --indigo-dye: #18435aff;
    --sfondo: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,49,1) 100%);
    --font: -apple-system, BlinkMacSystemFont, sans-serif;

}

body {
    background: var(--prussian-blue-2);
    overflow-x: hidden;
}

div.container-1 {
    /* border: 3px solid red;  */
    position: relative;
    top: 100px;
    left: 50px;
    height: auto;
}

div.title {
    /* border: 3px solid green; */
    position: relative;
    height: auto;
}

h1.title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--lapis-lazuli);
    font-size: 80px;
}

div.subtitle {
    position: relative;
    bottom: 40px;
}

h3.sub {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--lapis-lazuli);
    opacity: 80%;
    font-size: 50px;
}

.btn-container {
    position: relative;
    width: auto;
    height: auto;
    /* border: 3px solid red; */

}

.btn-begin {
    width: 200px;
    height: 50px;
    background-color: var(--celestial-blue);
    border: 0;
    border-radius: 10px;
    color: var(--prussian-blue);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-begin:hover {
    background-color: var(--lapis-lazuli);
    color: var(--prussian-blue);
}

/* #typewriter {
  border-right: 1px solid currentColor;
  animation: blink 0.5s linear infinite;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
}
 */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


