body {
    font-family: 'Consolas', sans-serif;
    color: white;
    background: blue;
    font-size: large;
  }
  
  h3,p {
    margin: 0px;
  }
  
  .console::before {
    content: '>'
  }
  
  .denied {
    position: absolute;
    right: 50%;
    top: 25%;
  }

  .nedry-body {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .nedry-head {
    position: absolute;
    top: 35px;
    left: 140px;
  }
  
  .nedry-hand{
    position: absolute;
    top: 155px;
    left: 265px;
    animation: handFrames linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 100%;
    -webkit-animation: handFrames linear 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 100%;
  }
  
  @keyframes handFrames{
    0% {
      transform:  rotate(-10deg) ;
    }
    50% {
      transform:  rotate(14deg) ;
    }
    100% {
      transform:  rotate(-10deg) ;
    }
  }